{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kind</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Caste</th>
                <th>Knowledge</th>
                <th>Intelligence</th>
                <th>Life</th>
                <th>Image</th>
                <th>Identifier</th>
                <th>Creation</th>
                <th>Modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.kind }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.surname }}</td>
                <td>{{ character.caste }}</td>
                <td>{{ character.knowledge }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.life }}</td>
                <td>{{ character.image }}</td>
                <td>{{ character.identifier }}</td>
                <td>{{ character.creation ? character.creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ character.Modification ? character.Modification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('character_display_html', {'identifier': character.identifier}) }}">show</a>
                    <a href="{{ path('character_modify_html', {'identifier': character.identifier}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('character_create_html') }}">Create new</a>
{% endblock %}
