{% extends 'base.html.twig' %}

{% block title %}Listes des personnages{% endblock %}

{% block body %}
    <h1>Listes des personnages</h1>


{# Entête du tableau #}
    <table class="table text-center table-hover">
        <thead>
            <tr>
                <th>Kind</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Caste</th>
                <th>Knowledge</th>
                <th>Intelligence</th>
                <th>Life</th>
                <th>Creation</th>
                <th>Modification</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
        {% for character in characters %}
{# Valuers d'un personnage #}
            <tr>
                {% if character.kind == "Dame" %}
                        <td><strong>{{ character.kind }}</strong></td>
                {% else %}
                    <td>{{ character.kind }}</td>
                {% endif %}
                <td><a href="{{ path('character_display_html', {'identifier': character.identifier}) }}"> {{ character.name }}</a></td>
                <td>{{ character.surname }}</td>
                <td>{{ character.caste }}</td>
                <td>{{ character.knowledge }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.life }}</td>
                <td>{{ character.creation ? character.creation|date('d-m-Y') : '' }}</td>
                <td>{{ character.Modification ? character.Modification|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('character_modify_html', {'identifier': character.identifier}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="d-flex w-20 justify-content-center" href="{{ path('character_create_html') }}">Nouveau Personnage</a>
{% endblock %}
